{% extends 'main/master.html' %}
{% load static %} 
{% block content %}

<div class="pagetitle">
  <h1>Form Elements</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Forms</li>
      <li class="breadcrumb-item active">Elements</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Coupon</h5>

          <!-- Coupon Form -->
          <form method="post">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="inputCode" class="col-sm-2 col-form-label">Code</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCode" name="code">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputDiscount" class="col-sm-2 col-form-label">Discount</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDiscount" name="discount">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputExpiry" class="col-sm-2 col-form-label">Expiry date</label>
              <div class="col-sm-10">
                <input type="datetime-local" class="form-control" id="inputExpiry" name="expiry_date">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form><!-- End Coupon Form -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
