<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>House Hold Items</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'clients/assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'clients/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'clients/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'clients/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'clients/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'clients/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'clients/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'clients/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'clients/assets/css/responsive.css' %}">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="triangle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	
	<!-- header -->


	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						{% comment %} <div class="site-logo">
							<a href="index.html">
								<img src="{% static 'clients/assets/img/Hannah.mp4' %}" alt="">
							</a>
						</div> {% endcomment %}
					<!--- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'c_index'%}">Home</a>
								</li>
								<li><a href="{% url 'c_about'%}">About</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="{% url 'c_error' %}">404 page</a></li>
										<li><a href="{% url 'c_login' %}">Log in</a></li>
										<li><a href="{% url 'c_register' %}">Register</a></li>
										<li><a href="{% url 'c_index' %}">News</a></li>
									</ul>
								</li>
								{% comment %} <li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li> {% endcomment %}
								<li><a href="{% url 'c_contact'%}">Contact</a></li>
								<li><a href="{% url 'c_shop'%}">Shop</a>
									<ul class="sub-menu">
										<li><a href="{% url 'c_shop'%}">Shop</a></li>
										<li><a href="{% url 'c_singleproduct' %}">Single Product</a></li>
										<li><a href="{% url 'c_cartview' %}">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'c_cartview' %}"><i class="fas fa-shopping-cart"></i></a>
										
									</div>
								</li>
							</ul>
						</nav>
						{% comment %} <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div> {% endcomment %}
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

    {% block content %}
    {% endblock %}

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p> Our journey began with a vision to provide home to every person . Over the years, we've achieved many milestone. Today, we stand proud as Web Designer..</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, U.S ,</li>
							<li>support@householdrentals.com</li>
							<li>+91 9149357330</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'c_index' %}">Home</a></li>
							<li><a href="{% url 'c_about' %}">About</a></li>
							<li><a href="{% url 'c_shop' %}">Shop</a></li>
							{% comment %} <li><a href="{% url 'c_news' %}">News</a></li> {% endcomment %}
							<li><a href="{% url 'c_contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 20124 - <a href="https://imransdesign.com/">Vivek Joshi</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Spectric Solution</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'clients/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'clients/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'clients/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'clients/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'clients/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'clients/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'clients/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'clients/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'clients/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'clients/assets/js/main.js' %}"></script>

</body>
</html>
