{% extends "clients/master.html" %}
{% load static %}
{% block content %}
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fancy and New</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row justify-content-center"> <!-- Center the search form horizontally -->
				<div class="col-lg-6"> <!-- Adjust the column width as needed -->
					<div class="search-form text-center"> <!-- Center the search form content vertically and horizontally -->
						<form method="post" action ="{% url 'searchview' %}">
							{% csrf_token %}
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</div>
					<!-- End Search functionality -->
			<div class="row product-lists">
				{% for ab in data %}
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{{ab.image.url}}" alt=""></a>
						</div>
						<h3>{{ab.name}}</h3>
						<p class="product-price"><span>Per month</span>{{ab.price}}</p>
						<a href="{% url 'cart_add' ab.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'clients/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'clients/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'clients/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'clients/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'clients/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
{% endblock %}